@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins&display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }


/* Estilos para resolução entre 300px e 800px */
@media only screen and (min-width: 300px) and (max-width: 800px) {
  body {
    font-size: 16px; /* Tamanho da fonte para a faixa de resolução específica */
  }

  nav {
    width: 150rem; /*largura da tela */
    height: 5rem; /* Altura desejada em pixels */
  }

  #cards-videos{
    display: table-row;
    align-self: start;
    height: 80vh;
    padding-top: 5rem;

}

#cards-jogos2{
  display: table-row;
  align-self: start;
  height: 80vh;
  padding-top: 5rem;

}

  img {
    max-width: 100%; /* Imagens responsivas */
    height: auto;
    margin-bottom: .625rem; /* Adiciona espaçamento entre as imagens */
  }

  .card {
 
    width: 96%; /* Cards ocupam a largura total */
    margin-right: 10%; 
    margin-bottom: .9rem; 
    box-sizing: border-box; /* Evita que a largura 100% inclua as margens e cause quebras de linha */
    /* Adicione mais ajustes de estilo conforme necessário para os cards nesta faixa de resolução */
  }

  .card-image-wrapper {
    width: 100%;
    }

    .card-image-wrapper {
      width: 100%; /* Tornar o card image wrapper responsivo */
    }
    

    #curiosidades .card-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 373.4%; /* Ajuste conforme necessário */
      overflow-x: auto;
      margin: auto;
    }

    #curiosidades .card-container {
      display: flex;
      justify-content: space-between;
      width: 300%;
      overflow-x: auto;
      margin: auto;
    }

  }
  
  @media only screen and (max-width: 600px) {
    body {
      font-size: .875rem;
      /* Adicione mais ajustes de estilo conforme necessário para dispositivos menores */
    }
  
    nav {
      width: 150rem; /*largura da tela */
      height: 5rem; /* Altura desejada em pixels */
    }

    #cards-videos{
      display: table-row;
      align-self: start;
      height: 80vh;
      padding-top: 5rem;
  }

  #cards-jogos2{
    display: table-row;
    align-self: start;
    height: 80vh;
    padding-top: 5rem;

}

    img {
      max-width: 100%; /* Imagens responsivas */
      height: auto;
      margin-bottom: .625rem; /* Adiciona espaçamento entre as imagens */
    }
  
    .card {
      width: 100; /* Cards ocupam a largura total */
      margin-bottom: 0.9rem; /* Espaçamento entre os cards */
      box-sizing: border-box;
      max-width: 100%; /* Garante que o card não ultrapasse a largura da tela */
      margin-right: 10%; /* Espaçamento entre os cards */
      margin-bottom: 0.9rem;
   } /* Evita que a largura 100% inclua as margens e cause quebras de linha */
    }
  
    .card-image-wrapper {
      width: 100%; /* Wrapper de imagem do card expande para a largura total da tela */
    }

    #curiosidades .card-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 373.4%; /* Ajuste conforme necessário */
      overflow-x: auto;
      margin: auto;
    }

    #curiosidades .card-container {
      display: flex;
      justify-content: space-between;
      width: 300%;
      overflow-x: auto;
      margin: auto;
    }

/* Mídia apenas para telas menores */
@media only screen and (max-width: 768px) {

  #curiosidades{
    background-image: url('../img/shades_and_wallpapers/medieval.png');
    width: 150%;
  }

  #curiosidades .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 373.4%; /* Ajuste conforme necessário */
    overflow-x: auto;
    margin: auto;
  }

  #curiosidades .card {
    width: 100%;
    margin: 9%;
  }



}


  /* Estilos para dispositivos de tela com largura entre 601 e 900 pixels (por exemplo, smartphones em modo paisagem e tablets) */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    body {
      font-size: 1rem;
      /* Adicione mais ajustes de estilo conforme necessário para tablets e smartphones em modo paisagem */
    }

    #curiosidades .card-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 373.4%; /* Ajuste conforme necessário */
      overflow-x: auto;
      margin: auto;
    }
    
    nav {
      width: 150rem; /*largura da tela */
      height: 5rem; /* Altura desejada em pixels */
    }
    
    #cards-videos{
      display: table-row;
      align-self: start;
      height: 80vh;
      padding-top: 5rem;
      
  }
  
  #cards-jogos2{
    display: table-row;
    align-self: start;
    height: 80vh;
    padding-top: 5rem;

}

    img {
      max-width: 100%; /* Imagens responsivas */
      height: auto;
      margin-bottom: 10px; /* Adiciona espaçamento entre as imagens */
    }
  
    .card {
      width: 100; /* Dois cards por linha */
      margin-right: 10%; /* Espaçamento entre os cards */
      margin-bottom: 0.9rem; /* Espaçamento entre os cards */
    }
  
    .card-image-wrapper {
      width: 100%; /* Wrapper de imagem do card expande para a largura total da tela */
    }

  }
  
  /* Estilos para dispositivos de tela com largura entre 901 e 1200 pixels (por exemplo, tablets em modo paisagem e laptops) */
  @media only screen and (min-width: 901px) and (max-width: 1200px) {
    body {
      font-size: 1.125rem;
      /* Adicione mais ajustes de estilo conforme necessário para tablets e laptops */
    }

    nav {
      width: 150rem; /*largura da tela */
      height: 5rem; /* Altura desejada em pixels */
    }

    #cards-videos{
      display: table-row;
      align-self: start;
      height: 90vh;
      padding-top: 5rem;
     
  }
  
  #cards-jogos2{
    display: table-row;
    align-self: start;
    height: 80vh;
    padding-top: 5rem;

}

    img {
      max-width: 100%; /* Imagens responsivas */
      height: auto;
      margin-bottom: .9rem; /* Adiciona espaçamento entre as imagens */
    }
  
    .card {
      width: 100; 
      margin-right: 10%; /* Espaçamento entre os cards */
      margin-bottom: .9rem; /* Espaçamento entre os cards */
      /* Adicione mais ajustes de estilo conforme necessário para os cards em tablets e laptops */
    }
  
    .card-image-wrapper {
      width: 100%; /* Wrapper de imagem do card expande para a largura total da tela */
      margin-top: 10%;
      /* Ajuste estilos conforme necessário para o wrapper de imagem do card em tablets e laptops */
    }
  
    .card-content{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      top: 10%;
      left: .5rem;
      opacity: .1;
      transform: translateY(2rem);
      transition: opacity 1s, transform 1s;
      align-items: flex-start;
      
  }

  #curiosidades .card-container {
    display: flex;
    justify-content: space-between;
    width: 300%;
    overflow-x: auto;
    margin: auto;
  }

  }
  
  /* Estilos para dispositivos de tela com largura acima de 1200 pixels (por exemplo, computadores desktop e notebooks) */
  @media only screen and (min-width: 1201px) {
    body {
      font-size: 20px;
      /* Adicione mais ajustes de estilo conforme necessário para computadores desktop e notebooks */
    }

    nav {
      width: 189.7rem; /*largura da tela */
      height: 5rem; /* Altura desejada em pixels */
    }
  
    img {
      max-width: 100%; /* Imagens responsivas */
      height: 100%;
      margin-bottom: .9rem; /* Adiciona espaçamento entre as imagens */
    }
  
    .card {
      width: 100%; 
       /* Espaçamento entre os cards */
      margin-bottom: .9rem;     
    }

    #curiosidades .card-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      overflow-x: auto;
      margin: auto;
    }

  }

  :root{
    --primary-color: #4628FF;
    --font-title: 'Montserrat';
    --fontdefault: 'Poppins';

  }


  html{
      scroll-behavior: smooth;

}



.icon {
  width: 1.4rem;
  height: 1.4rem;
}

#menu-icon{
  color: white;
  text-shadow: #000 2px 2px 2px;
  position: fixed;
  z-index: 10;
  right: 2rem;
  top: 1rem;
  cursor: pointer;
}


h1{
    color: rgb(0, 0, 0);
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    font-size: 4rem;
    font-family: var(--font-title);
    font-weight: 700;
    
}


    .botao {
        display: inline-flex;
        padding: 1.25rem 2.5rem;
        align-items: center;
        gap: 1.2rem ;
        background-image: url('../img/shades_and_wallpapers/icon.jpg');
        background-size: cover;
        background-color: var(--primary-color);
        color: #ffe4e4;
        font-family: var(--fontdefault);
        text-decoration: wavy;
        border-radius: .625rem;
        
        transition: background-color 1s;
      }
      .botao:hover{
        opacity: .8;
      }


      /* Parte dos Cards com videos */  

      #cards-videos{
        height: 100vh;
        width: 150%;
        padding-top: 5rem;
        background-image: url('../img/shades_and_wallpapers/background__.png');
        opacity: 0.95;
        position: relative;
    
    }
    
    #cards-videos img{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: space-between;
      max-width: 31.25rem;
  
    }
    
    .card{
        max-width: 30rem;
        height: 23.8rem;

        position: relative;
        cursor: pointer;
    }
    
    #cards-videos ul{
        display: flex;
        justify-content: space-around;
        align-items: top;
        height: 100%;
    }
    
    .card-image-wrapper{
        height: 23.75rem;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        
    }
    
    .card-content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        opacity: 0;
        transform: translateY(2rem);
        transition: opacity 1s, transform 1s;
        align-items: flex-start;
        
    }

    .card-content a{
      background-image: none;
      background: rgba(0, 0, 1, 0.694);
      
    }
    
    .card:hover .card-content{
        opacity: 1;
        transform: translateY(0);
    }
    
    .card h3{
        color: white;
        font-size: .9rem;
        align-content: flex-start;
    }

/* Parte dos Cards com jogos */    

    #cards-jogos2{
      height: 115vh;
      width: 150%;
      padding-top: 5rem;
      background-image: url('../img/shades_and_wallpapers/background_.png');
      opacity: 1;    
  }
  
  #cards-jogos2 img{
    display: flex;
    gap: 1rem;
    max-width: 31.25rem;
    max-height: max-content;
  }

  #cards-jogos2 .card-image-wrapper{
    height: 24.75rem;
    width: 110%;
    overflow: hidden;
    object-fit: cover;
    
}

  #cards-jogos2 ul{
      display: flex;
      justify-content: space-around;
  }

.card h3{
    color: white;
    font-weight: bold;
    font-size: .9rem;
    align-content: flex-start;
}





/* Parte dos mangas */

#curiosidades{
  background-image: url('../img/shades_and_wallpapers/medieval.png');
  width: 150%;
}

#curiosidades .card {
  margin-right: 1.9rem;
  overflow: hidden;
  transition: height 0.3s;
  cursor: pointer;
  width: auto; /* Ajuste conforme necessário */
}


#curiosidades .card img {
  width: 100%;
  height: auto;
}

#curiosidades .card-expanded {
  height: auto; /* Ajuste conforme necessário para a versão expandida */
}

#curiosidades .card-header {
  position: relative;
  height: 3.75rem; /* Altura desejada para o cabeçalho estilizado */
  overflow: hidden;
}

/* Estilo do Cabeçalho dos Cards */
#curiosidades .card-header .header-text {
  font-size: 1.25rem;
  padding: .6rem;
  text-align: center;
  height: 4rem; /* Ajuste a altura conforme necessário */
  font-weight: bold;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 2%, rgba(80, 37, 21, 1) 13%, rgba(252, 115, 64, 1) 40%, rgba(252, 115, 64, 1) 75%, rgba(255, 218, 0, 1) 100%, rgba(252, 176, 69, 1) 100%);
}
 
 .card-header2 .header-text2{
  font-size: 1.25rem; 
  padding: .6rem; /* Espaçamento interno para o texto no cabeçalho */ 
  text-align: center;
  height: 4rem;
  font-weight: bold;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0.8239670868347339) 20%, rgba(0,0,0,0.8379726890756303) 75%);
 }

.card-header3 .header-text3{
  font-size: 1.25rem; 
  padding: .6rem; /* Espaçamento interno para o texto no cabeçalho */ 
  text-align: center;
  font-weight: bold;
  height: 4rem;
  background: rgb(0,94,186);
  background: linear-gradient(90deg, rgba(0,94,186,0.8239670868347339) 10%, rgba(89,10,199,1) 40%, rgba(255,0,0,0.8379726890756303) 85%);

}

.card-header4 .header-text4{
  font-size: 1.25rem; 
  padding: .6rem; /* Espaçamento interno para o texto no cabeçalho */ 
  text-align: center;
  font-weight: bold;
  height: 4rem;
  background: -webkit-linear-gradient(to right, #e74c3c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e74c3c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.card-header5 .header-text5{
  font-size: 1.25rem; 
  padding: .6rem; /* Espaçamento interno para o texto no cabeçalho */ 
  text-align: center;
  font-weight: bold;
  height: 4rem;
  background: rgb(0,166,186);
  background: linear-gradient(90deg, rgba(0,166,186,0.8239670868347339) 25%, rgba(255,42,0,0.8379726890756303) 75%);

}

