@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  :root{
    --primary-color: #4628FF;
    --font-title: 'Montserrat';
    --fontdefault: 'Poppins';

  }

/* Estilos para resolução entre 300px e 800px */
@media only screen and (min-width: 300px) and (max-width: 800px) {
  body {
    font-size: 16px; /* Tamanho da fonte para a faixa de resolução específica */
  }

  #cards-jogos{
    display: table-row;
    align-self: start;
    height: 80vh;
    padding-top: 5rem;

}

  img {
    max-width: 100%; /* Imagens responsivas */
    height: auto;
    margin-bottom: 10px; /* Adiciona espaçamento entre as imagens */
  }

  .card {
 
    width: 100; /* Cards ocupam a largura total */
    margin-right: 10%; 
    margin-bottom: 15px; 
    box-sizing: border-box; /* Evita que a largura 100% inclua as margens e cause quebras de linha */
    /* Adicione mais ajustes de estilo conforme necessário para os cards nesta faixa de resolução */
  }

  .card-image-wrapper {
    width: 100%;
    }


    .card-image-wrapper {
      width: 100%; /* Tornar o card image wrapper responsivo */
    }
  }
  
  @media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
      /* Adicione mais ajustes de estilo conforme necessário para dispositivos menores */
    }
  
    #cards-jogos{
      display: table-row;
      align-self: start;
      height: 80vh;
      padding-top: 5rem;
     
  
  }

    img {
      max-width: 100%; /* Imagens responsivas */
      height: auto;
      margin-bottom: 10px; /* Adiciona espaçamento entre as imagens */
    }
  
    .card {
      width: 100; /* Cards ocupam a largura total */
      margin-bottom: 15px; /* Espaçamento entre os cards */
      box-sizing: border-box;
      max-width: 100%; /* Garante que o card não ultrapasse a largura da tela */
      margin-right: 10%; /* Espaçamento entre os cards */
      margin-bottom: 15px;
   } /* Evita que a largura 100% inclua as margens e cause quebras de linha */
      /* Adicione mais ajustes de estilo conforme necessário para os cards em smartphones */
    }
  
    .card-image-wrapper {
      width: 100%; /* Wrapper de imagem do card expande para a largura total da tela */
      /* Ajuste estilos conforme necessário para o wrapper de imagem do card em smartphones */
    }
  

  /* Estilos para dispositivos de tela com largura entre 601 e 900 pixels (por exemplo, smartphones em modo paisagem e tablets) */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    body {
      font-size: 16px;
      /* Adicione mais ajustes de estilo conforme necessário para tablets e smartphones em modo paisagem */
    }

    #cards-jogos{
      display: table-row;
      align-self: start;
      height: 80vh;
      padding-top: 5rem;
      
  
  }
  
    img {
      max-width: 100%; /* Imagens responsivas */
      height: auto;
      margin-bottom: 10px; /* Adiciona espaçamento entre as imagens */
    }
  
    .card {
      width: 100; /* Dois cards por linha */
      margin-right: 10%; /* Espaçamento entre os cards */
      margin-bottom: 15px; /* Espaçamento entre os cards */
      /* Adicione mais ajustes de estilo conforme necessário para os cards em tablets e smartphones em modo paisagem */
    }
  
    .card-image-wrapper {
      width: 100%; /* Wrapper de imagem do card expande para a largura total da tela */
      /* Ajuste estilos conforme necessário para o wrapper de imagem do card em tablets e smartphones em modo paisagem */
    }

  }
  
  /* Estilos para dispositivos de tela com largura entre 901 e 1200 pixels (por exemplo, tablets em modo paisagem e laptops) */
  @media only screen and (min-width: 901px) and (max-width: 1200px) {
    body {
      font-size: 18px;
      /* Adicione mais ajustes de estilo conforme necessário para tablets e laptops */
    }

    #cards-jogos{
      display: table-row;
      align-self: start;
      height: 90vh;
      padding-top: 5rem;
     
  
  }
  
    img {
      max-width: 100%; /* Imagens responsivas */
      height: auto;
      margin-bottom: 15px; /* Adiciona espaçamento entre as imagens */
    }
  
    .card {
      width: 100; 
      margin-right: 10%; /* Espaçamento entre os cards */
      margin-bottom: 15px; /* Espaçamento entre os cards */
      /* Adicione mais ajustes de estilo conforme necessário para os cards em tablets e laptops */
    }
  
    .card-image-wrapper {
      width: 100%; /* Wrapper de imagem do card expande para a largura total da tela */
      margin-top: 10%;
      /* Ajuste estilos conforme necessário para o wrapper de imagem do card em tablets e laptops */
    }
  
    .card-content{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      top: 10%;
      left: .5rem;
      opacity: .1;
      transform: translateY(2rem);
      transition: opacity 1s, transform 1s;
      align-items: flex-start;
      
  }

  }
  
  /* Estilos para dispositivos de tela com largura acima de 1200 pixels (por exemplo, computadores desktop e notebooks) */
  @media only screen and (min-width: 1201px) {
    body {
      font-size: 20px;
      /* Adicione mais ajustes de estilo conforme necessário para computadores desktop e notebooks */
    }
  
    img {
      max-width: 100%; /* Imagens responsivas */
      height: 100%;
      margin-bottom: 15px; /* Adiciona espaçamento entre as imagens */
    }
  
    .card {
      width: 100%; 
       /* Espaçamento entre os cards */
      margin-bottom: 15px;     
    }


  }

/* Pseudo-elemento */
  header::before {
    content: '';
    background-image: url("../img/collab\ animes2.png");
    opacity: 0.5;
    
    background-size: cover;
    height: 100%;
    width: 100%;
    display: table-row-group;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
   
}

  html{
      scroll-behavior: smooth;

}
#menu{
  position: fixed;
  background-color: rgb(217, 103, 116);
  height: 15vh;
  padding: 3rem;
  z-index: 9;
  right: 0;
  border-radius: .5rem;
  transform: translateX(100%);
  transition: transform 1s;
}

#menu.open{
  transform: translateX(0%);

}

.icon {
  width: 22px;
  height: 22px;
}

#menu-icon{
  color: white;
  text-shadow: #000 2px 2px 2px;
  position: fixed;
  z-index: 10;
  right: 2rem;
  top: 1rem;
  cursor: pointer;
}

  header{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 90vh;
    position: static;
    padding-bottom: 3.8rem;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    
}

h1{
    color: rgb(0, 0, 0);
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    font-size: 4rem;
    font-family: var(--font-title);
    font-weight: 700;
    
}

header span{
    color: rgb(0, 0, 0);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--font-title);
    font-size: 2.5rem;
    font-weight: 400;

}

    .botao {
        display: inline-flex;
        padding: 1.25rem 2.5rem;
        align-items: center;
        gap: 1.2rem ;
        background-image: url('../img/icon.jpg');
        background-size: cover;
        background-color: var(--primary-color);
        color: #ffe4e4;
        font-family: var(--fontdefault);
        text-decoration: wavy;
        border-radius: .625rem;
        
        transition: background-color 1s;
      }
      .botao:hover{
        opacity: .8;
      }

      .plataformas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 12rem;
        height: 12rem;
      }

      #cards-jogos{
        
        align-self: start;
        height: 80vh;
        padding-top: 5rem;
        background-image: url('../img/background\ cards.png');
    
    }
    
    #cards-jogos img{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: space-between;
      max-width: 31.25rem;
  
    }
    
    .card{
        
        max-width: 17.5rem;
        height: 23.75rem;
        position: relative;
        cursor: pointer;
    }
    
    #cards-jogos ul{
        display: flex;
        justify-content: space-around;
        align-items: top;
        height: 100%;
    }
    
    .card-image-wrapper{
        height: 23.75rem;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        
    }
    
    .card-content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        top: 10%;
        left: .5rem;
        opacity: 1;
        transform: translateY(2rem);
        transition: opacity 1s, transform 1s;
        align-items: flex-start;
        
    }

    .card-content a{
      background-image: none;
      background: rgba(0, 0, 1, 0.694);
      
    }
    
    .card:hover .card-content{
        opacity: 1;
        transform: translateY(0);
    }
    
    .card h2{
        color: white;
        font-size: 1.5rem;
    }
    

